/* PrePostPrint only css framework */

/* changer les variables largeur, hauteur (format de la page), marges et position du footer */
:root{
  --page-margin: 1cm;
  --page-margin-center: 1.8cm;
  --page-footer-bottom: 0.5cm;
  --page-footer-margin: 1.8cm;
}

body{
	font-family: Helvetica, sans-serif;
	margin:0;
}

/* ajouter la classe .center pour centrer un élément horizontalement sur la page */
.center{
	text-align: center;
	margin:auto;
}

/* ajouter la classe .center-top pour centrer un élément verticalement sur la page */
.center-top{
	margin-top: 50vh;
	transform: translateY(-100%);
}

@media print{

/* paramètres de la page, choisir le format d'export */
	@page{
		size: A3 landscape;
	}

	body{
		margin:0;
		padding:0;
	}

  /* Repères, penser à les retirer avant impression */
  #back, #fourth, #first{
    border: 1px dotted cyan;
  }
  /* Trait de coupe */
  .cover{
    background:
      linear-gradient(to right, black 1px, transparent 1px) 0 0,
      linear-gradient(to right, black 1px, transparent 1px) 0 100%,
      linear-gradient(to left, black 1px, transparent 1px) 100% 0,
      linear-gradient(to left, black 1px, transparent 1px) 100% 100%,
      linear-gradient(to bottom, black 1px, transparent 1px) 0 0,
      linear-gradient(to bottom, black 1px, transparent 1px) 100% 0,
      linear-gradient(to top, black 1px, transparent 1px) 0 100%,
      linear-gradient(to top, black 1px, transparent 1px) 100% 100%;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
  /* Réglage couverture */
  .cover{
    position: fixed;
    display: grid;
    grid-template-columns: 14.85cm 1.8cm 14.85cm;
    height: 21cm;
    top: 12%;
    margin: 0 12%;
  }

  .couv{
    display: inline-block;
  }
  /* Première de couverture */
  #first{
    margin: 0;
    /* marge : top               right                     bottom             left  */
    padding: var(--page-margin)  var(--page-margin-center) var(--page-margin) var(--page-margin);
  }

  /* Dos */
  #back{
    margin: 0;
    padding: 0.2cm;
  }

  #back h3{
    font-weight: bold;
    transform: rotate(90deg);
    margin-top: 10cm;
    font-size: 30px;
    margin-right: 0.06cm;
  }

  #back p{
    position: absolute;
    margin-left: 0.2cm;
    bottom: 0.6cm;
  }

  #fourth{
    margin: 0;
    /* marge : top               right                     bottom             left  */
    padding: var(--page-margin)  var(--page-margin) var(--page-margin) var(--page-margin-center) ;

  }

	/* paramètres de la page */
	.page{
		width: 42cm;
		height: 29.65cm;
		padding: 0;
		page-break-after: always;
		position: relative;
	}

	/* affiche les éléments ayant la classe print */
	.print{
		display: block;
	}

	/* n'affiche pas les éléments ayant la classe screen */
	.screen{
		display: none;
	}


}
