/* PrePostPrint only css framework */

/* changer les variables largeur, hauteur (format de la page), marges et position du footer */
:root{
  --page-width: 14.85cm;
  --page-height: 21cm;
  --page-margin: 0.8cm;
  --page-footer-bottom: 0.4cm;
  --page-footer-margin: 0.8cm;
}

body{
	font-family: Helvetica, sans-serif;
	margin:0;
}

img{
	width: 100%;
}

h1, h2, h3, h4, h5, h6{
	margin-top:0;
}

/* Typo titrage */
h1{
  font-family: "Punk Nova";
}

/* ajouter la classe .print pour n'afficher que les éléments à l'impression*/
.print{
	display:none;
}

/* ajouter la classe .screen pour n'afficher les éléments seulement à l'écran */
.screen{
	display:block;
}

.printimage{
  visibility: hidden;
}
.screenimage{
  visibility: visible;
}

/* ajouter la classe .center pour centrer un élément horizontalement sur la page */
.center{
	text-align: center;
	margin:auto;
}

/* ajouter la classe .center-top pour centrer un élément verticalement sur la page */
.center-top{
	margin-top: 50vh;
	transform: translateY(-100%);
}

figure{
  width: 400px;
}
img{
  width:100%;
}


@media print{

/* paramètres de la page, choisir le format d'export */
	@page{
		size: A5;
	}
  h1{
    font-family: "Glacier";
  }
	body{
		margin:0;
		padding:0;
		/* permet d'ajouter un counter pour la pagination */
		counter-reset: page-counter;
	}

	/* paramètres de la page */
	.page{
		width: calc(var(--page-width) + 1);
		height: calc(calc(var(--page-height) - var(--page-margin) * 2) - 1mm);
		padding: var(--page-margin);
		page-break-after: always;
		position: relative;
	}

	/* affiche les éléments ayant la classe print */
	.print{
		display: block;
	}

	/* n'affiche pas les éléments ayant la classe screen */
	.screen{
		display: none;
	}

	/* exemple d'en-tête, toutes les pages avec la classe .introhearder auront le header "Les voyages de Capitaine Futur" */
	.introheader::before{
		content: "titre courant";
	}

	/* ajoute la pagination aux pages */
  .page::after{
		counter-increment: page-counter;
		content:counter(page-counter);
		position: absolute;
		bottom: var(--page-footer-bottom);
	}

  /* pagination à gauche pour les pages paires */
	.page:nth-child(even)::after{
		left: var(--page-footer-margin);
	}

  /*pagination à droite pour les pages impaires */
  .page:nth-child(odd)::after{
    right: var(--page-footer-margin);
  }

	/* toutes les pages avec la class .nopagination n'ont pas de pagination */
	.page.nopagination::after{
		content:"";
	}

	/* ajouter une class plainimage pour avoir une image plein pot sur la page */
	.plainimage{
    width: calc(var(--page-width) + 1);
    height: calc(calc(var(--page-height) - var(--page-margin) * 2) - 1mm);
		margin: auto;
	  -o-object-fit: contain;
	  object-fit: contain;
	}

  figure{
    border: 1px solid;
  }
  .screenimage{
    visibility: hidden;
  }
  .printimage{
    visibility: visible;
  }

  img{
    width: 200px;
  }
}
